<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Ejercicio01</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-item nav-link" *ngIf="loginService.usuariologueado()" routerLink="" (click)="Listar()" >Personas</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" *ngIf="loginService.usuariologueado()" routerLink="" (click)="ListarUsuarios()" >Usuarios</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
          <a *ngIf="!loginService.usuariologueado()" routerLink="/login" class="btn btn-primary my-2 my-sm-0" title="Acceso">Acceso</a>
          <a *ngIf="loginService.usuariologueado()" routerLink="" (click)="Logout()" class="btn btn-danger my-2 my-sm-0" title="Salir">Salir</a>
      </form>
  </div>  
</nav>
<div class="content" role="main">    
</div>
<router-outlet></router-outlet>